html, body, p, a {
    margin: 0;
    background: #080808;
    color: #979797;
}

.term {
    font-family: "Courier New", fixed, monospace;
    font-size: 12px;
    color: #5EE06E;
    text-shadow: 0 0 7px #1AC621;
    background: none;
    letter-spacing: 1px;
    display: inline;
    float: left;
    margin-right: 20px;
}

.term .termReverse {
    color: #232e45;
    background: #5EE06E;
}

.term .michael {
    color: #94aad6;
    background-color: rgb(35, 46, 69);
    text-shadow: 0 0 7px #B4DAD2;
}

.term .michael .termReverse{
    background-color: #94aad6;
    color: rgb(35, 46, 69);
}

.term .jan {
    color: #40494C;
    background-color: white;
    text-shadow: 0 0 0px black;
}

.term .jan .termReverse{
    background-color: #40494C;
    color: white;
}

.term .crash {
    color: #ff0000;
    background-color: black;
    text-shadow: 0 0 0px #cc0000;
}

.term .crash .termReverse{
    background-color: #ff0000;
    color: black;
}

#container {
    padding: 20px;
    margin-bottom: 100px;
}

.thumbnail {
    text-align: center;
}

.icon {
    margin-bottom: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

#info {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    float: right;
    text-align: right;
    width: 300px;
}

#info p {
    margin-bottom: 10px;
}

#footer {
    clear: both;
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    color: #CCCCCC;
/*    background-color: #333333;*/
    padding: 40px;
    height: auto;
}
